# Application
SPRING_PROFILE=dev
APP_BASE_URL=http://localhost:8080

# JWT
JWT_SECRET=
JWT_EXPIRATION=

# Database
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# Mail
MAIL_USERNAME=
MAIL_PASSWORD=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
